openapi: 3.0.0
info:
  title: Node API Library
  version: 1.0.0
paths:
  /users:
    post:
      summary: Create a user
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created
    get:
      summary: Get all users
      tags:
        - Users
      responses:
        '200':
          description: List of users
  /users/{email}:
    get:
      summary: Get latest user by email
      tags:
        - Users
      parameters:
        - in: path
          name: email
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User found
        '404':
          description: User not found
components:
  schemas:
    User:
      type: object
      required:
        - name
        - email
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        createdAt:
          type: string
          format: date-time
tags: []
